.navDiv {
    display: grid !important;
    grid-template-columns: repeat(6, 1fr) !important;
    background-color: #5E6572 !important;
}

.searchBar {
    border-radius: 100px !important;
    width: 100% !important;
    grid-column: 2/5 !important;
    margin: 1% 0 1% 0;
}

.inputSearch {
    font-family: 'Public Sans', sans-serif;
    font-size: 15px !important;
    font-style: normal;
    font-weight: lighter !important;
    border-radius: 50px 0 0 50px !important;
    /* padding: 10px; */
    background-color: #EEF1EF !important;
}

.inputSearch::placeholder {
    font-style: italic;
    font-family: 'Public Sans', sans-serif;
}

.inputSearch:focus {
    box-shadow: none !important;
}

.inputSearch:active {
    box-shadow: none !important;
}

.searchBtn {
    border-radius: 0 100px 100px 0 !important;
    background-color: #EEF1EF !important;
    border: none !important;
}

.magnifier {
    color: #1C2321 !important;
    width: 16px;
    height: 16px;
}

.message {
    width: 10% !important;
    color: #EEF1EF;
    background-color: #5E6572;
}

.topNav {
    background-color: #5E6572 !important;
}

.topNav {
    grid-column: 5/7;
}

.msgNavLink {
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    grid-column: 2/3;
    background-color: #5E6572 !important;
}

.profileLink {
    display: inline-block;
    width: 8% !important;
    height: 100% !important;
    border-radius: 50% !important;
    background-color: #EEF1EF;
    color: #5E6572 !important;
    text-align: center;
    font-weight: bold !important;
    font-size: 100% !important;
    grid-column: 4/5;
    font-family: 'Public Sans', sans-serif !important;
}

.profileLink .dropdown:active {
    background-color: #5E6572 !important;
}

.profileLink .dropdown-toggle {
    display: inline-block;
    border-radius: 50%;
    background-color: #EEF1EF;
    margin-top: 15%;
}

.dropdown-toggle::after {
    display: none !important;
    background-color: #EEF1EF !important;
}

.dropdown {
    font-family: 'Public Sans', sans-serif !important;
}

.menuItems {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr) !important;
    background-color: #1C2321 !important;
    justify-items: center;
    align-items: center;
    height: 30px !important;
}

.home, .inventory, .orders, .reports, .shipment {
    background-color: #1C2321 !important;
    color: #EEF1EF !important;
    font-family: 'Public Sans', sans-serif !important;
    font-weight: 500 !important;
    margin-top: -2%;
}