@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,700;0,900;1,100;1,200&display=swap');

* {
  background-color: #EEF1EF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

body, button, input {
  font-family: 'Public Sans', sans-serif;
}